body {margin:0;}

/* Custom styles for the top navigation */
.topnav {
    overflow: hidden;
    background-color: black;
    text-align: center; /* Center align the links */
}

.topnav a {
    display: inline-block; /* Change float to inline-block */
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    border-bottom: 3px solid transparent;
}

.topnav a:hover {
    border-bottom: 3px solid #E74973;
}

.topnav a.active {
    border-bottom: 3px solid #E74973;
}

div .jumbotron{
    border-radius: 5px;
    background-color: black;
    background-size: cover; 
    background-position: center; 
    padding-top: 20px;  
    padding-bottom: 0px;
    
}

.jumbotron h1 {
    font-size: 3em; /* Adjust the font size as needed */
}


.mainimg{
    border-radius: 5px;
    background-color: black;
    background-size: cover; /* Cover the entire container */
    background-position: center; /* Center the image */
    height: 100%; /* Adjust the height as needed */
    padding-bottom: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h2, h3, h4 {
    color: rgb(255, 255, 255);
}

p {
    color:white;
}

ul li {
    color:white;
    font-size: 1.25em; /* Adjust the font size as needed */
}

